<div class=" bg-dark-gray min-h-screen flex">
  <div class="flex-grow flex flex-col items-center justify-center">
    <div class="flex flex-col md:flex-row md:gap-4 md:items-center">
      <div class=" flex justify-center pb-10 md:pb-0">
        <img src="/assets/images/SunLogo.png" alt="image">
      </div>
      <div class=" flex flex-col items-center">
        <h1 class=" text-white font-sora text-4xl font-bold">Bem vinde :)</h1>
        <h2 class=" text-white font-sora text-2xl">Qual a previsão da semana?</h2>
      </div>  
    </div>
    <div class=" flex items-center justify-center pt-10 flex-col ">
      <input [ngClass]="{'gradient-background': !hasSelectedCity, 'gradient-background-opacity': hasSelectedCity}" 
              (click)=" changeSelectedCity('')"
              class=" select-ba text-white w-80 h-16 pl-1 rounded-xl mb-4 text-start" 
              value=" Selecione uma cidade: " 
              type="button" >

      <input *ngFor="let cityOption of cityOptions" 
              (click)="changeSelectedCity(cityOption)" 
              type="button" 
              [ngClass]="{'gradient-background': !hasSelectedCity || hasSelectedThisCity(cityOption), 'gradient-background-opacity': hasSelectedCity && !hasSelectedThisCity(cityOption)}"
              class=" text-white w-80 h-16 pl-1 rounded-xl mb-2 text-start"
              value=" {{cityOption}} ">
      
    </div>
    <div class=" flex justify-center pt-8 items-end">
      <button [disabled]=" selectedCity === ''" 
              [routerLink]="['/forecast', selectedCity]" 
              [ngClass]="{'bg-light-gray': selectedCity === '', 'bg-yellow': selectedCity !== '' }" 
              class=" font-sora w-80 h-16 rounded-lg"
      >
      Vamos lá!
      </button>
    </div>
  </div>
  
</div>
