<div class=" bg-dark-gray flex min-h-screen">
  <div class="flex-1 flex flex-col ">
    <div>
      <img src="/assets/images/SmallSunLogo.png" alt="image">
    </div>
    <div class=" flex justify-center">
      <h1 class=" text-white font-sora text-4xl font-bold">{{city}}</h1>
    </div>
    <div *ngIf=" forecastResponse?.success === true" class=" pt-8 flex w-full h-max justify-center items-center flex-col md:flex-row md:flex-wrap md:gap-4 md:pt-4">
        <div  *ngFor="let day of forecastResponse?.days" class=" bg-white w-80 rounded-md shadow mb-4 md:mb-0">
          <div class=" p-4 flex flex-row justify-between items-center">
            <div>
              <p class=" font-sora font-bold text-xl">{{day.formattedDate}}</p>
              <p class=" font-sora text-sm">{{day.weekDay}}</p>
            </div>
            <div>
              <p class=" font-sora text-2xl">{{getTemperatureRange(day)}}</p>
            </div>
          </div>
          <div class=" px-8 flex flex-row  items-center justify-between">
            <img src="/assets/images/SunWeatherImg.png" alt="image">
            <p class=" font-sora text-6xl">{{day.averageTemperature}}°</p>
          </div>
          <div class=" p-4">
            <p class=" font-sora text-xs text-center">{{day.description}}</p>
          </div>
        </div>
      
    </div>
    <div *ngIf=" forecastResponse?.success === false" class=" flex justify-center items-center pt-8">
      <h2 class=" text-white font-sora text-3xl text-center ">{{forecastResponse?.message}}</h2>
    </div>
  </div>
  
</div>
